{% extends 'base.html' %}

{% block content %}


<style type="text/css">
	.card {
		max-width: 700px;
	}
	.container {
		padding: 20px;
	}
	button.like{
	width: 30px;
	height: 30px;
	margin: 0 auto;
	line-heigth: 50px;
	border-radius: 50%;
	color: rgba(0,150,136 ,1);
	background-color:rgba(38,166,154 ,0.3);
	border-color: rgba(0,150,136 ,1);
	border-width: 1px;
	font-size: 15px;
}

button.dislike{
	width: 30px;
	height: 30px;
	margin: 0 auto;
	line-heigth: 50px;
	border-radius: 50%;
	color: rgba(255,82,82 ,1);
	background-color: rgba(255,138,128 ,0.3);
	border-color: rgba(255,82,82 ,1);
	border-width: 1px;
	font-size: 15px;
}

button.learnmore{
	width: 100%;
	padding: 10px;
	border: none;
	background: rgba(0,151,167 ,1);
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 16px;
	color: #fff;
	letter-spacing: 1px;
}

</style>

<div class="container">
	<div class="row">

		<!-- Blog post -->
		<div class="card m-auto">
			<img class="card-img-top" src="{{blog_post.image.url}}">
			<div class="card-body my-2">
				<h2 class="card-title">{{blog_post.title}}</h2>
				<p class="card-text">{{blog_post.body|safe}}</p> <!-- safe means the render the html inside the body of the content-->
				{% if blog_post.author == request.user %}
			  		<a href="{% url 'blog:edit' blog_post.slug %}" class="btn btn-primary">Update</a>
				{% endif %}
			</div>
			<button class="like" onclick="like();">
			<i class="fa fa-thumbs-o-up" aria-hidden="true"></i><p id="likes">{{ likes }}</p>
			</button>

			<button class="dislike" onclick="dislike();">
			<i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
			</button>

			


			<div class="card-footer text-muted">
				Updated on {{blog_post.date_updated}} by {{blog_post.author}}
				
			</div>
		</div>
		<!-- EndBlog post -->
		

	</div>
	<input id="slug" type="hidden" value={{ slug }} readonly>
	<form method="post">
			{% csrf_token %}
			<input type='text' placeholder="Comments" name="comment">
			<input type="submit" value="Comment">
		</form>
		<br><br>
		<!--<div id="comments" class="m-auto">
			{% for comment in comments %}
			<p>{{ comment.user_id.username }}</p>
			<p>{{ comment.comment_text }}</p>
			{% endfor %}
		</div>-->
{% for category in category_list %}
<div class="w3-row w3-padding-8">

<div class="w3-col 8 w3-padding-xsmall">
	<h4>{{ category.category }}</h4>
	<br>
</div>
</div>
{% endfor %}
   
{% for comment in comments %}
	 <div class="w3-row w3-padding-8">
	
    <div class="w3-col 8 w3-padding-xsmall">
      <h4>{{ comment.user_id.username }}</h4>
      <p class="w3-text-grey">{{ comment.comment_text }}</p><br>
    </div>
	</div>
{% endfor %}
	
</div>

<script>
	function like(){
		console.log("Hi");
		var $slug=$('#slug');
		console.log($slug.val());
		var like=document.getElementById('likes');
		like.innerHTML=parseInt(like.innerHTML)+1;
		const no_likes=like.innerHTML;
		console.log(no_likes)
		$('.like').hide();
		$('.dislike').show();
		console.log('/blog/likes/{{ slug }}');
		//console.log(slug)
		$.ajax({
			type:"post",
			url:"/blog/likes/{{ slug }}",
			data:{'likes': no_likes},
			success: function(data){
				console.log('');
			}
		});
	}
	function dislike(){
		var like=document.getElementById('likes');
		like.innerHTML=parseInt(like.innerHTML)-1;
		$('.like').show();
		$('.dislike').hide();
	}

</script>
{% endblock content %}

